<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.4/phpunit.xsd"
    colors="true"
    verbose="true"
    stopOnFailure="false">

    <testsuites>
        <testsuite name="Standard_Tests">
            <file>tests/UnitTest.php</file>
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Extended_Conversion_Tests">
            <file>tests/ParsingTest.php</file>
            <file>tests/ConversionTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">vendor</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" />
    </logging>
</phpunit>
